# Distribution / packaging
.venv
.ruff_cache
dist
sdist
*.egg-info/
*.egg
venv
build
test.py
sample
__pycache__
*.lock
__pypackages__/
.ipynb_checkpoints
*.ipynb
*.txt
*.csv
ignore_*
_old*
.coverage
htmlcov